# Core functionality - changes here should be rare!
/src/app.py                   @pschel15
/src/backend/database.py      @pschel15
/src/backend/routers/auth.py  @pschel15

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pschel15
